/*
!.gitignore
!app/
app/*

!app/code/
app/code/*
!app/code/community/
app/code/community/*
!app/code/community/Webmasterei/
app/code/community/Webmasterei/*
!app/code/community/Webmasterei/Magepopups

!app/design/
app/design/*
!app/design/frontend/
app/design/frontend/*
!app/design/frontend/base/
app/design/frontend/base/*
!app/design/frontend/base/default
app/design/frontend/base/default/*
!app/design/frontend/base/default/template/
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/magepopups

!/app/design/frontend/base/default/layout/
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/magepopups.xml

!/app/design/frontend/base/default/template/
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/webmasterei/
/app/design/frontend/base/default/template/webmasterei/*
!/app/design/frontend/base/default/template/webmasterei/magepopups/


!app/etc/
app/etc/*
!app/etc/modules/
app/etc/modules/*
!app/etc/modules/Webmasterei_Magepopups.xml

!js/
js/*
!js/magepopups
js/magepopups/*
!js/magepopups/ouibounce.js

