<?xml version="1.0"?>
<config>
    <modules>
        <Webmasterei_Magepopups>
            <version>0.0.1</version>
        </Webmasterei_Magepopups>
    </modules>
    <global>
        <helpers>
            <magepopups>
                <class>Webmasterei_Magepopups_Helper</class>
            </magepopups>
        </helpers>
        <blocks>
            <magepopups>
                <class>Webmasterei_Magepopups_Block</class>
            </magepopups>
        </blocks>
    </global>
</config>