<?xml version="1.0"?>
<config>
    <modules>
        <Webmasterei_Magepopups>
            <version>0.0.1</version>
        </Webmasterei_Magepopups>
    </modules>
    <global>
        <models>
            <magepopups>
                <class>Webmasterei_Magepopups_Model</class>
            </magepopups>
        </models>
        <helpers>
            <magepopups>
                <class>Webmasterei_Magepopups_Helper</class>
            </magepopups>
        </helpers>
        <blocks>
            <magepopups>
                <class>Webmasterei_Magepopups_Block</class>
            </magepopups>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <webmasterei_magepopups>
                    <file>magepopups.xml</file>
                </webmasterei_magepopups>
            </updates>
        </layout>
    </frontend>
</config>